* {
  padding: 0;
  margin: 0;
  line-height: 1.5;
}

.container {
  width: 700px;
  margin-left: auto;
  margin-right: auto;
}

h1 {
  font-size: 25px;
  font-family: sans-serif;
  text-transform: uppercase;
  color: aquamarine;
}
h2 {
  font-size: 40px;
}
h3 {
  font-size: 30px;
}
h4 {
  font-size: 20px;
  margin: 10px 0;
}
p {
  font-size: 16px;
  font-family: sans-serif;
  line-height: 1.5;
}

#recommend-article {
  list-style: none;
}

#header-main {
  background-color: rgb(144, 140, 140);
  padding: 20px;
  margin-bottom: 20px;
}

.article-header {
  padding: 20px;
  margin-bottom: 10px;
}

.header-html,
.header-why {
  margin: 10px 0;
}

aside {
  background-color: gainsboro;
  /* 简写形式 */
  border: 5px solid rgb(97, 186, 216);
  /* 
  border-top;
  border-bottom: ;
  border-left;
  border-right: ; */
}

ol,
ul {
  padding-left: 30px;
}

li:first-child {
  font-weight: bold;
}

li:last-child {
  color: red;
}

article header p:last-child {
  color: rgb(175, 175, 42);
}

a:link {
  color: rgb(89, 207, 10);
  text-decoration: none;
}

a:visited {
  color: rgb(112, 104, 105);
}

a:active {
  color: blue;
  text-decoration: underline;
}

a:hover {
  color: black;
  text-decoration: underline;
}
