.container {
  display: grid;
  grid-template-columns: 1fr 2fr 2fr 1fr;
  grid-template-rows: 100px 100px;
  margin: 0 auto;
  width: 800px;
  text-align: center;
}

.grid-1 {
  background-color: rgb(201, 201, 31);
}

.grid-2 {
  background-color: rgb(227, 148, 45);
}

.grid-3 {
  background-color: rgb(223, 76, 22);
}

.grid-4 {
  background-color: rgb(72, 195, 37);
  /* 如果结束和开始只差1 */
  /* 可以忽略 */
  /* grid-column: 1 / 2;  */
  grid-column: 1;
  /* 根据 grid 布局, -1 可以到达最后 */
  grid-row: 1 / -1;
}

.grid-5 {
  background-color: rgb(21, 87, 219);
}

.grid-6 {
  background-color: rgb(200, 48, 217);
}

.grid-7 {
  background-color: rgba(29, 195, 173, 0.645);
  grid-column: 1 / -1;
}

.grid-8 {
  background-color: rgb(36, 7, 7);
  color: white;
  grid-column: 2 / 3;
  grid-row: 1 / 2;
}
